@import url(./estrelas.css);
@import url(./meiga.css);
@import url(./error.css);

body{
  background-color: #1f263b;
 /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
  font-family: 'Gloria Hallelujah', cursive;
  color:  #fffff9;
}

header{
  text-align: center;
  font-size: 2vw;
  color:  #fffff9;
  position: relative;
  top: 3em;
}

  .info{
    text-align: left;
    font-size: 0.9vw;
  }

  .info.version{
  }
  
  .info.docente{
  }

.lienzo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.lua, .sombra_lua{
  position: absolute;
  right: 10vw;
  top: 5vh;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 white;
}

#alua.sombra_lua{
  box-shadow: none ;
  border-radius: 0;
  z-index: 100;
}

.fraga{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-image: url("/img/fraga.png");
  background-repeat: repeat-x;
  background-size: 60%;
  background-position: left bottom;
}

